/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    width: 100vw;
    height: auto;
    font-size: 12px;
    margin: 0 !important;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
  header {
    width: 100vw;
    height: 3rem;
    margin: 0;
    padding: 0;

    .title {
      padding-left: 15px;
      font-size: 1rem !important;
    }
    .navbar-desktop {
      display: none !important;
    }

    .navbar-mobile {
      display: flex !important;
      flex-direction: column;
      position: fixed;
      right: 5%;
      top: 2%;
      i {
        font-size: 1rem;
      }
      .main-menu {
        display: none;
      }
    }
  }

  .layered-paper {
    width: 95%;
    height: 6%;
    margin: 0;
    padding: 0;
  }

  .hero-section {
    flex-direction: column-reverse !important;
    height: auto;
    margin: 2rem 1rem !important;
    width: 100%;
    .hero-content {
      width: 90%;
      height: 100%;
      padding: 0;
      justify-content: center;
      align-items: center;

      .brief {
        font-size: 1.2rem;
        text-align: justify;
      }
      .intro {
        font-size: 1.2rem;
        height: auto;
        padding: 5px 0;
        // a {
        // }
      }
      form {
        display: flex;
        width: 100%;
        justify-content: center;
        button {
          width: 80%;
          margin: 10px;
          font-size: 1rem;

          a {
            text-decoration: none;
            color: inherit;
            &:visited,
            &:active,
            &:hover {
              border: none;
            }
          }
        }
      }
    }

    .hero-image {
      padding: 0;
      margin: 0;
      height: 100%;
    }
  }

  .roles {
    width: 100%;
    position: relative;
    flex-direction: column;
    margin-top: 100px;
    height: auto;

    .role-title {
      font-size: 2.5rem;
      height: 50px;
    }

    .role-cards {
      flex-direction: column;
      padding: 0;
      margin-top: 1rem;

      .cards {
        height: 250px;
        padding: 0;
        margin: 0;
      }
    }
  }
}
