* {
    padding: 0;
    margin: 0;
}

//Fluid Typography implementation
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc( #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

//end of flui font implementation
$colors: ( primary: #e0e0e0, header: #eeeeee, secondary: #111111, accent: #22d1ee, other: #3d5af1);
@function color($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}

body {
    background-color: color(primary);
    color: color(secondary);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.75fr;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
    // color: #eeeeee;
    background: color(header);
    // background: linear-gradient(180deg, #222222 0%, #161616 100%);
    box-shadow: 0px 1px 15px 0px rgba(17, 17, 17, 0.2), 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    // border-radius: 10px;
    // border-top-left-radius: 0;
    // border-top-right-radius: 0;
    nav {
        display: grid;
        padding: 1rem 0.5rem;
        align-items: center;
        .title {
            padding-left: 2rem;
            font-size: 1.5rem;
            font-family: "Pacifico", cursive;
            display: inline;
        }
        ul {
            display: inline;
            // float: right;
            // padding-right: 2rem;
            list-style: none;
            grid-area: 1/3/2/4;
            text-align: center;
            li {
                display: inline;
                padding: 0 1rem;
            }
        }
    }
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content graphic";
    section {
        display: grid;
        grid-area: content;
        align-content: center;
        padding: 3rem;
        div {
            text-align: justify;
        }
    }
    .graphics {
        display: grid;
        grid-area: graphic;
        place-content: center;
    }
    .call-to-action-button button {
        padding: 1rem 3rem;
        margin: 2rem 0;
        // background: color(other);
        border-radius: 2rem;
        font-size: 1rem;
        font-weight: 500;
        color: #eeeeee;
        text-decoration: none;
        border: none;
        background-color: #05e8ba;
        background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    }
}

footer {
    grid-area: footer;
}