* {
    padding: 0;
    margin: 0;
    z-index: 10;
}

//Fluid Typography implementation
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc( #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

//end of flui font implementation
$colors: ( primary: #e0e0e0, header: #eeeeee, secondary: #111111, accent: #22d1ee, other: #3d5af1);
@function color($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}

body {
    background-color: color(primary);
    color: color(secondary);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.75fr;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
    // color: #eeeeee;
    background: color(header);
    // background: linear-gradient(180deg, #222222 0%, #161616 100%);
    box-shadow: 0px 1px 15px 0px rgba(17, 17, 17, 0.2), 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    // border-radius: 10px;
    // border-top-left-radius: 0;
    // border-top-right-radius: 0;
    nav {
        display: grid;
        padding: 1rem 0.5rem;
        align-items: center;
        .title {
            padding-left: 2rem;
            font-size: 1.5rem;
            font-family: "Pacifico", cursive;
            display: inline;
        }
        ul {
            display: inline;
            // float: right;
            // padding-right: 2rem;
            list-style: none;
            grid-area: 1/3/2/4;
            text-align: center;
            li {
                display: inline;
                padding: 0 1rem;
            }
        }
    }
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content graphic";
    section {
        display: grid;
        grid-area: content;
        align-content: center;
        padding: 3rem;
        h1 {
            font-size: 3.5rem;
        }
        div {
            text-align: justify;
        }
    }
    .graphics {
        display: grid;
        grid-area: graphic;
        img {
            // margin: 4rem;
            align-self: center;
            justify-self: center;
            height: 60%;
        }
    }
    .call-to-action-button button {
        padding: 1rem 3rem;
        margin: 2rem 0;
        // background: color(other);
        border-radius: 2rem;
        font-size: 1rem;
        font-weight: 500;
        color: #eeeeee;
        text-decoration: none;
        border: none;
        background-color: #9795ef;
        background-image: linear-gradient(315deg, #9795ef 0%, #087ee1 74%);
        // background-color: #f9c5d1;
        // background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    }
}

footer {
    grid-area: footer;
    .social-media {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        list-style: none;
        text-align: center;
        li {
            display: inline;
        }
    }
    //Background Animation
    #animate-bg {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 10vh;
        z-index: -10;
    }
    .box-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 80vw;
        height: 90vh;
        overflow: hidden;
        animation: vertical 10s ease 3s infinite forwards;
        z-index: inherit;
        li {
            position: absolute;
            display: block;
            list-style: none;
            color: rgba(0, 0, 0, 0.2);
            font-size: 2rem;
            font-family: "Fredoka One", cursive;
            animation: rotation 20s linear infinite;
            bottom: -150px;
            z-index: -5;
        }
        li:nth-child(1) {
            left: 86%;
            animation-delay: 1s;
        }
        li:nth-child(2) {
            left: 12%;
            animation-delay: 1.5s;
            animation-duration: 10s;
        }
        li:nth-child(3) {
            left: 70%;
            animation-delay: 2.5s;
            animation-duration: 10s;
        }
        li:nth-child(4) {
            left: 6%;
            animation-delay: 3s;
            animation-duration: 20s;
        }
        li:nth-child(5) {
            left: 46%;
            animation-delay: 1.5s;
            animation-duration: 20s;
        }
        li:nth-child(6) {
            left: 25%;
            animation-delay: 3s;
            animation-duration: 10s;
        }
        li:nth-child(7) {
            left: 65%;
            animation-delay: 4.5s;
            animation-duration: 10s;
        }
        li:nth-child(8) {
            left: 25%;
            animation-delay: 7s;
            animation-duration: 10s;
        }
        li:nth-child(9) {
            left: 90%;
            animation-delay: 6s;
            animation-duration: 10s;
        }
    }
    @keyframes rotation {
        100% {
            transform: translateY(0);
            opacity: 0;
        }
        0% {
            transform: translateY(-1000px);
            opacity: 1;
        }
    }
}